.form {
  text-align: center;
}
.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  border: solid 1px black;
  padding: 2%;
}
.title {
  font-family: "Cinzel", serif;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 4%;
  text-align: center;
}
input {
  font-size: 25px;
  border: solid 1px gray;
  border-radius: 3px;
  font-family: "Josefin Sans", sans-serif;
}
button {
  font-size: 20px;
  font-weight: 900;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
}
